    $header-height: 5rem;
    $border-radius: 1.5rem;
    $background-color: #11100f;
    $background-general: #100f0e;
    $background-section: #252423;
    $background-thumbnail: rgba(26, 26, 26, .7);
    $background-thumbnail-firefox: #1a1a1a;
    $card-background-linear: linear-gradient(90deg, hsla(0, 0%, 42%, .2), rgba(38, 38, 38, .6));
    $card-background-firefox: #262626;
    $background-modal-firefox: #262626;
    $background-modal-backdrop-firefox: rgba(50, 49, 48, .8);
    $content-background-linear: linear-gradient(90deg, hsla(0, 0%, 42%, .1), rgba(38, 38, 38, .3));
    $background-content-post: linear-gradient(180deg, rgba(64, 63, 63, .2), rgba(57, 56, 56, .26) 14%, #11100f 98%);
    $background-search-portal: linear-gradient(104deg, hsla(0, 0%, 100%, .05) 32%, hsla(0, 0%, 94%, .06) 51%);
    $background-btn-search-portal: linear-gradient(138deg, hsla(0, 0%, 100%, .05) 34%, hsla(0, 0%, 94%, .06) 63%);
    $background-hot-item-portal: #1f1f1f;
    $background-portal-result-news: linear-gradient(164deg, hsla(0, 0%, 100%, .03) 38%, hsla(0, 0%, 94%, .04) 88%);
    $background-header-portal: linear-gradient(98deg, hsla(0, 0%, 100%, 0) 32%, hsla(0, 0%, 94%, .05) 50%);
    $background-footer-portal: linear-gradient(106deg, hsla(0, 0%, 100%, 0) 32%, hsla(0, 0%, 94%, .05) 51%);
    $background-dropdown-portal: linear-gradient(155deg, hsla(0, 0%, 100%, .05) 36%, hsla(0, 0%, 94%, .06) 78%);
    $background-dropdown-search-portal: linear-gradient(118deg, rgba(25, 25, 25, .05) 33%, rgba(45, 44, 44, .06) 54%);
    $background-sidebar-portal: linear-gradient(175deg, hsla(0, 0%, 100%, .05) 40%, hsla(0, 0%, 94%, .06) 98%);
    $background-preview: transparent;
    $background-dropdown-menu-header: linear-gradient(0deg, rgba(0, 0, 0, .2), hsla(0, 0%, 7%, .6));
    $background-dropdown-shadow: 10px 7px 64px 2px rgba(0, 0, 0, .49);
    $background-footer: linear-gradient(180deg, #272625, hsla(0, 0%, 7%, .86) 99%);
    $background-carousel: radial-gradient(center, rgba(13, 12, 11, .69), rgba(0, 0, 0, .7) 10%, #161514 80%);
    $background-after-card-content: #161514;
    $background-search-box-header: #1c1c1c;
    $backdround-search-mobile: hsla(0, 0%, 4%, .88);
    $background-header-search-mobile: #000;
    $bg-tag-item: #cfb160;
    $bg-dropdown: #323130;
    $bg-firefox: #222120;
    $bg-line-author-page: #323130;
    $bg-menu-platform-hover: #52514f;
    $bg-menu-edit-text: #323130;
    $bg-new-form-login: hsla(0, 0%, 9%, .8);
    $bg-screen-authen: #100f0e;
    $bg-cover-catalogue: transparent;
    $bg-sidebar-item-profile: linear-gradient(180deg, hsla(0, 0%, 85%, 0) 2%, #a8a8a8);
    $bg-card-profile: #232221;
    $box-background-linear: linear-gradient(90deg, rgba(86, 86, 86, .4), hsla(0, 0%, 76%, .1));
    $opacity-blur-news: 0.25;
    $background-blur-news-wrap: linear-gradient(270deg, #00000033 100%, #13131399 0);
    $background-blur-news: radial-gradient(#fff, #5d5858 33%);
    $background-blur: linear-gradient(90deg, rgba(86, 86, 86, .38), hsla(0, 0%, 76%, .1));
    $background-header-home: linear-gradient(180deg, rgba(37, 36, 35, .2), rgba(37, 36, 35, .6) 99%);
    $background-header-mobile: #252423;
    $background-blur-firefox: #1a1a1a;
    $background-container: linear-gradient(180deg, rgba(0, 0, 0, .57), hsla(0, 0%, 7%, .86) 99%);
    $background-blur-header: linear-gradient(90deg, rgba(32, 32, 32, .9), rgba(45, 45, 45, .8));
    $background-card: linear-gradient(180deg, hsla(0, 0%, 42%, .2), rgba(38, 38, 38, .6));
    $background-sub-card: #292928;
    $background-profile: #252423;
    $background-hover: rgba(207, 177, 96, .1);
    $background-switch: #444443;
    $background-item-dropdown: rgba(214, 179, 88, .1);
    $background-hover-tag: radial-gradient(circle at 0 0, #3b3a39, #252423);
    $background-item-menu: rgba(68, 68, 68, .5);
    $background-backdrop-modal: #000;
    $background-noti-switch: #000;
    $background-card-header: #252423;
    $background-menu-header: linear-gradient(0deg, rgba(0, 0, 0, .2), hsla(0, 0%, 7%, .6));
    $background-menu-header-firefox: #565656;
    $background-event: #242323;
    $background-card-has-ball: linear-gradient(90deg, rgba(86, 86, 86, .38), hsla(0, 0%, 76%, .1));
    $background-card-has-ball-firefox: rgba(86, 86, 86, .5);
    $background-banner-blur: rgba(27, 27, 27, .7);
    $background-banner-blur-firefox: rgba(27, 27, 27, .7);
    $background-toast: #3b3a39;
    $background-input-search: linear-gradient(0deg, hsla(0, 0%, 7%, .6), rgba(0, 0, 0, .2));
    $background-dropdown-header: rgba(37, 36, 35, .8);
    $background-list-action-mobile: linear-gradient(180deg, rgba(0, 0, 0, .57), hsla(0, 0%, 7%, .86) 99%);
    $background-box-share: #24242480;
    $background-hash-tag-item: #242424cc;
    $background-button-expend: #323130;
    $background-event-post: linear-gradient(180deg, hsla(0, 0%, 100%, 0), rgba(84, 83, 83, .72) 60%, #100f0e);
    $background-box-tag: #242424;
    $background-header-platform: #0f0f0f;
    $background-menu-header-dropdown: rgba(37, 36, 35, .96);
    $background-menu-item-hover: #2d2c2c;
    $background-card-post-item: #252423;
    $background-menu-dropdown-res: rgba(25, 25, 25, .96);
    $topic-screen-tab-color: #fff;
    $topic-screen-tab-bg: #242424;
    $topic-screen-tab-color-active: #1b1b1b;
    $topic-screen-tab-bg-active: #fff;
    $search-mobile-platform: #151515;
    $noti-bg: #1d1d1d;
    $noti-border: #212121;
    $noti-title-color: #ededed;
    $author-item-bg: #212121;
    $padding-default: 1.4rem;
    $padding-top: 6.4rem;
    $margin-components-default: 2.8rem;
    $profile-setting-bg: #1c1c1e;
    $profile-setting-border: #242424;
    $platform-profile-input-bg: #1c1c1e;
    $platform-section-video: #242424;
    $section-video-title: #fff;
    $section-video-sub-title: #a19f9f;
    $background-input: #302f2d;
    $background-input-login: #323130;
    $background-input-focus: #323130;
    $background-close-icon: #323130;
    $background-input-tag: #302f2d;
    $background-input-profile-setting: #302f2d;
    $background-input-firefox: #302f2d;
    $background-filter: #292928;
    $background-dropdown-filter: #202020;
    $background-footer-filter: #1d1c1c;
    $background-footer-date-range: #282828;
    $background-modal: #202020;
    $background-modal-action: #1d1c1c;
    $background-input-select-img: #292928;
    $background-menu-hover: rgba(207, 177, 94, .2);
    $background-success: rgba(39, 174, 96, .1);
    $background-warning: rgba(226, 185, 59, .1);
    $background-cancel: rgba(235, 87, 87, .1);
    $background-incomplete: #444443;
    $background-draft: #2c2a2a;
    $background-update: #30273e;
    $background-incoming: #29383b;
    $background-awaiting: #3e3028;
    $background-public: #21352f;
    $background-cancel: #392928;
    $background-approve: #26312a;
    $background-pending: #383326;
    $background-role-edit: #393837;
    $background-author-page: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(38, 38, 38, .6) 99%);
    $background-author-page-info: linear-gradient(180deg, hsla(0, 0%, 85%, 0) 2%, #a8a8a8);
    $background-input-authen: #1f2021;
    $background-rating-comment: #1b1b1b;
    $background-long-form-cover: linear-gradient(180deg, transparent, rgba(16, 15, 14, .7) 10%, #100f0e);
    $background-tag-search: #292929;
    $background-tag-search-hover: #2f2f2f;
    $background-tag-close-icon: #383838;
    $background-header-dialog: rgba(16, 15, 14, .8);
    $background-sort-state: #323130;
    $background-dropdown-sort: rgba(29, 29, 29, .97);
    $background-mini-sidebar: #000;
    $text-status-success: #25af60;
    $text-status-warning: #e2b93b;
    $text-status-incomplete: #444443;
    $text-status-draft: #e5e4e4;
    $text-status-update: #a05ffb;
    $text-status-incoming: #10adc9;
    $text-status-awaiting: #c0581d;
    $text-status-public: #23c396;
    $text-status-cancel: #eb5757;
    $text-status-approve: #25af60;
    $text-status-pending: #e2ba3b;
    $background-article-card: #302f2d;
    $background-icon-menu: #2f2e2d;
    $background-icon-menu-scroll: hsla(24, 2%, 47%, .2);
    $background-article-card-selected: #202020;
    $background-thumbnail-post: linear-gradient(0deg, rgba(38, 38, 38, 0), rgba(33, 32, 32, .74), rgba(31, 30, 30, .96));
    $background-modal-layout-choose: #2a2a2a;
    $background-des-img: #272727;
    $background-home-platform: #100f0e;
    $card-video-platform: #212020;
    $bg-scroll-track: grey;
    $bg-scroll-thumb: #3b3a3a;
    $bg-scroll-track-detail: #131313;
    $bg-scroll-thumb-detail: #3b3a3a;
    $bg-item-small: #302f2d;
    $bg-item-language: #302f2d;
    $bg-item-tag: #4e4e4e;
    $bg-track: #292827;
    $bg-img-empty: #3b3a3a;
    $bg-img-empty-active: #323130;
    $bg-artical-layout: #3b3a39;
    $bg-artical-active: #4f4e4e;
    $bg-card-item: #353432;
    $bg-profile-setting-form: #292827;
    $bg-input-disabled-profile-setting: #343434;
    $bg-text-number-post-profile-author: #fff;
    $bg-header-profile: linear-gradient(180deg, rgba(0, 0, 0, .57), hsla(0, 0%, 7%, .86) 99%);
    $bg-header-profile-author: linear-gradient(180deg, rgba(0, 0, 0, .57), hsla(0, 0%, 7%, .86) 99%);
    $bg-card-pdf: linear-gradient(180deg, hsla(0, 0%, 42%, .2), rgba(38, 38, 38, .6) 99%);
    $bg-carousel-pdf: linear-gradient(0deg, #000, hsla(0, 0%, 9%, .58));
    $background-dropdown-menu: #21201f;
    $background-related-article: #353433;
    $background-scroll-track: #605e5c;
    $background-switch-bar: #323130;
    $background-banner-login: #202020;
    $background-butotn-slider: #363535;
    $background-preview-seo: #202124;
    $background-article-field: #323130;
    $background-navbar: #000;
    $text-navbar: #656464;
    $shadow-navbar: unset;
    $shadow-dropdown-sort: 0 10px 24px 0 rgba(25, 25, 25, .32);
    $shadow-dropdown-swap: 0 22px 40px 2px rgba(0, 0, 0, .24);
    $background-tab-chart: #656464;
    $text-success: #27ae60;
    $text-warning: #e2b93b;
    $text-cancel: #eb5757;
    $text-color: #d2d0ce;
    $text-secondary-color: #444443;
    $text-small-color: #d2d0ce;
    $text-hover-link-light: #fbe08e;
    $text-hover-link: #cda439;
    $text-hover-link-main: #c09352;
    $text-disabled: grey;
    $text-light: #d2d0ce;
    $text-heading: #fff;
    $text-title-color: #ededed;
    $text-fill-slide: #fff;
    $text-fill-slide-firefox: #fff;
    $text-form-color: #d2d0ce;
    $text-title-form-color: #fff;
    $text-title-post-color: #ededed;
    $text-content-post-color: #d0cecc;
    $text-content-post-color-bold: #ededed;
    $text-description-color: #959393;
    $text-title-header: #959393;
    $text-author-color: #d3d0ce;
    $text-title-section-color: #ededed;
    $text-table-color: #fafafa;
    $text-tag-item: #fff;
    $text-tooltip-thumbnail: #fff;
    $text-color-modal: #959393;
    $text-color-empty: #605e5c;
    $text-pagination: #a19f9f;
    $text-placeholder: #656464;
    $text-highlight-thumbnail: #7a7775;
    $text-title-control: #d0cecc;
    $text-active-value: #ededed;
    $text-color-title-footer: #ededed;
    $text-child-footer: #d0cecc;
    $text-input-placeholder: #9e9e9e;
    $text-input-search: #fff;
    $text-description-post-detail: #a19f9f;
    $text-header-not-choose: #a19f9f;
    $text-breadcrumb: #a19f9f;
    $text-follow-us: #656464;
    $text-detail-title: #a19f9f;
    $text-title-preview-seo: #c58af9;
    $text-preview-seo: #bdc1c6;
    $text-title-select-img: #d3d0ce;
    $text-description-seo: #a19f9f;
    $text-form-login: #d0cecc;
    $text-head-portal-item: #fafafa;
    $text-title-chart: #d0cecc;
    $text-info-chart: #fff;
    $text-author-name: #fafafa;
    $text-link-post-detail: #cfb160;
    $text-form-login-new: #fff;
    $text-form-login-input-placeholder: #656464;
    $text-tab-guest-view: #fff;
    $text-author-post-detail: #fafafa;
    $text-color-pdf: #fafafa;
    $text-color-date-pdf: #a19f9f;
    $text-list-sidebar-platform: #ededed;
    $text-datetime-comment: #7a7775;
    $text-no-rating-comment: #3d3d3d;
    $text-menu-header: #ededed;
    $text-color-menu-item: #d2d0ce;
    $text-explore-more: #a19f9f;
    $text-layout-platform: #d9d9d9;
    $text-title-post-platform: #d9d9d9;
    $text-author-post-platform: #afafaf;
    $text-social-link: #fff;
    $text-title-social-link: #a19f9f;
    $text-footer-item-platform: #929292;
    $text-percent-up: #28a864;
    $text-percent-down: #c95150;
    $icon-search-color: #a19f9f;
    $icon-bookmark-platform: #747474;
    $icon-header-platform: #ededed;
    $icon-back-top: #ededed;
    $icon-social: #fff;
    $background-icon-back-top: #000;
    $box-shadow-icon-back-top: rgba(36, 36, 36, .3) 0px 5px 15px;
    $box-shadow-header-platform: 2px 0 6px 0 hsla(0, 0%, 6%, .35);
    $sidebarPlat-shadow: 2px 0 6px 0 hsla(0, 0%, 6%, .35);
    $font-weight-post-content: 300;
    $dot-color-pdf: #d8d8d8;
    $dot-hover-color-pdf: hsla(0, 0%, 85%, .6);
    $border-color-pdf: #979797;
    $border-bottom-normal-header: #353535;
    $border-mini-sidebar: #383838;
    $btn-platform-home: #292929;
    $btn-platform-home-hover: #2f2f2f;
    $btn-primary: #b69f58;
    $btn-primary-disabled: #4a4127;
    $btn-primary-text-disabled: #a19f9f;
    $btn-primary-hover: #d4b155;
    $btn-secondary: #323130;
    $btn-secondary-hover: #3b3a39;
    $btn-secondary-active: #605e5c;
    $btn-disabled: #292827;
    $btn-active: #debc64;
    $btn-neutral-active: #605e5c;
    $btn-border: #979593;
    $btn-background: #161514;
    $icon-default: #fcfcfc;
    $icon-active: #ab8e42;
    $icon-disabled: grey;
    $divider-main: #d6d6d6;
    $divider-secondary: grey;
    $divider-slide: #e1dfdd;
    $divider-footer: #444443;
    $divider-header: #353535;
    $divider-article-card: #3b3a3a;
    $divider-dropdown-filter: #282827;
    $divider-line-pagination: #a19f9f;
    $divider-line-footer: #272625;
    $divider-vertical-line: #3b3a3a;
    $divider-vertical-line-long-form: #171717;
    $divider-input-search: #3d3d3d;
    $divider-line-long-form: #171717;
    $divider-chart: #232323;
    $progress-bar-chart: #323232;
    $divider-comment: #5a5958;
    $divider-social: #383737;
    $divider-top-footer: #383838;
    $presence-awy: #edad61;
    $presence-online: #605e5c;
    $presence-invisible: #fff;
    $presence-do-not-disturb: #be3743;
    $presence-out-of-office: #aa55a0;
    $message-warning: #96cf63;
    $message-icon-warning: #96cf63;
    $message-severe-warning: #96cf63;
    $message-severe-warning-icon: #96cf63;
    $message-error-block: #96cf63;
    $message-error-block-icon: #96cf63;
    $message-success: #dff6dd;
    $message-success-icon: #96cf63;
    $dropdown-item-hover: #3f3f3f;
    $background-scroll: #444443;
    $card-shadow: 0 1px 2.4rem 0 rgba(0, 0, 0, .1);
    $box-shadow: 0 2px 2.4rem 0 rgba(0, 0, 0, .1);
    $shadow-dropdown-filter: 0 2px 4px 0 hsla(0, 0%, 7%, .24);
    $box-shadow-menu-header-dropdown: 0 10px 24px 0 rgba(25, 25, 25, .32);
    $dot-item-color: hsla(0, 0%, 100%, .32);
    $card-backdrop: blur(100px);
    $box-backdrop: blur(120px);
    $background-gradient1: linear-gradient(0deg, rgba(86, 86, 86, .6), hsla(0, 0%, 100%, .1));
    $background-arrow-down: rgba(86, 86, 86, .7);
    $background-fill-firefox: rgba(86, 86, 86, .8);
    $background-fill: linear-gradient(0deg, rgba(86, 86, 86, .38), hsla(0, 0%, 76%, .1));
    $background-fill1: linear-gradient(0deg, rgba(86, 86, 86, .9), hsla(0, 0%, 76%, .3));
    $background-dropdown: #565656;
    $background-login: linear-gradient(0deg, hsla(0, 0%, 42%, .2), rgba(38, 38, 38, .6));
    $background-login-blur: linear-gradient(0deg, hsla(0, 0%, 42%, .2), rgba(38, 38, 38, .6));
    $bg-behind-blur: hsla(0, 0%, 100%, 0);
    $bg-info-profile-box: linear-gradient(180deg, hsla(0, 0%, 85%, 0) 2%, #a8a8a8);
    $background-exchange: #1a1a1a;
    $border-color: #444443;
    $tag-border: #979593;
    $input-border-color: #d2d0ce;
    $divider-author-post-content: #232323;
    $border-tag-header: #313131;
    $blur-background: blur(20px);
    $blur-background2: blur(20px);
    $blur-background-header: blur(44px);
    $blur-footer: blur(100px);
    $blur-ball-detail-post: blur(8rem);
    $blur-ball-detail-content: blur(17rem);
    $blur-background-menu-header: blur(20px);
    $background-chart-token: #161616;
    $background-chart-token-item: #181818;
    $background-chart-item: #181818;
    $background-input-comment: #1b1b1b;
    $background-tooltip: #343434;
    $background-reply: #1c1c1c;
    $background-input-edit-reply: #161616;
    $background-comment-edit-icon: linear-gradient(155deg, hsla(0, 0%, 100%, .05) 36%, hsla(0, 0%, 94%, .06) 78%);
    $text-color-no-comment: #484848;
    $blur-ball-post-content: blur(12rem);
    //$scale-img: $scaleImg;
    $border-avatar: #cfb160;
    $text-color-info-detail: #d0cecc;
    $ck-filter-icon: invert(98%) sepia(1%) saturate(200%) hue-rotate(281deg) brightness(119%) contrast(100%) !important;
    $ck-filter-icon-default: unset !important;
    $bg-menu-platform-right: linear-gradient(148deg, rgba(41, 41, 41, .92) 2%, rgba(27, 27, 27, .8) 103%);
    $bg-tab-choose-header: #0f0f0f;
    $txt-platform-menu: #bbb;
    $bg-sidebar-active-platform: #30260d;
    $bg-sidebar-hover-platform: #242424;
    $background-platform: #1c1c1e;
    $border-platform: #1a1a1a;
    $background-sidebar-platform: #1c1c1e;
    $list-tag-divider: #353535;
    $list-tag-scroll-shadow-left: linear-gradient(270deg, hsla(0, 0%, 8%, 0) 0%, #1c1c1e);
    $list-tag-scroll-shadow-right: linear-gradient(90deg, hsla(0, 0%, 8%, 0) 0%, #1c1c1e);
    $list-tag-border: #212121;
    $list-tag-arrow-color: #515151;
    $bg-header-icon: #302f2d;
    $title-follow-post: #fff;
    $card-post-description: #b4b4b4;
    $card-top-post-description: #fff;
    $card-top-content-shadow: linear-gradient(0deg, rgba(0, 0, 0, .9) 1%, transparent);
    $card-top-content-shadow-hover: linear-gradient(0deg, rgba(0, 0, 0, .9) 1%, transparent);
    $bg-list-author: #202020;
    $bg-sidebar-item-active: #292929;
    $border-sidebar-item-active: #313131;
    $hover-sidebar-item-bg: #2f2e2d;
    $bg-sidebar-divider: #313131;
    $text-date-time-post-platform: #8d8d8d;
    $section-title-color: #fff;
    $bg-view-all-btn: #292929;
    $border-view-all-btn: #3e3e3e;
    $author-item-border: #2b2b2b;
    $bg-previous-theme: #222;
    $bg-previous-theme-weeks: #222;
    $overlay-previous-theme-left: linear-gradient(270deg, hsla(0, 0%, 8%, 0) 0%, #222);
    $overlay-previous-theme-right: linear-gradient(90deg, hsla(0, 0%, 8%, 0) 0%, #222);
    $card-post-title-hover: $text-hover-link;
    $bg-profile-dropdown: rgba(29, 29, 29, .97);
    $profile-dropdown-title: #fafafa;
    $profile-dropdown-divider: #313131;
    $profile-dropdown-item-hover: #292929;
    $profile-dropdown-item-border-hover: #3e3e3e;
    $profile-dropdown-item-checkbox-bg: #242424;
    $profile-dropdown-section-title: #bbb;
    $profile-dropdown-view-btn: #323130;
    $profile-dropdown-view-btn-text: #fff;
    $bg-sidebar-mobile: rgba(25, 25, 25, .96);
    $bg-profile-menu-mobile: linear-gradient(180deg, #191919 2%, hsla(0, 0%, 66%, .05));
    $bg-profile-menu-mobile-overlay: #191919;
    $bg-slider-loading: #d8d8d8;
    $bg-slider-loading-wrapper: #d8d8d8;
    $background-audio-control: #272727;
    $background-slider: #343434;
    $background-slider-active: #cda349;
    $color-text-slider: #d0cecc;
    $slider-circle-control: #656464;
    $profile-mobile-header: #151515;
    $background-recommend-topic: transparent;
    $text-menu-platform: #d9d9d9;
    $background-cover-thumbnail: linear-gradient(180deg, #100f0e 0%, rgba(16, 15, 14, .92) 15%, rgba(16, 15, 14, 0));
    $background-cover-bottom-thumbnail: linear-gradient(0deg, #100f0e 0%, rgba(16, 15, 14, .92) 15%, rgba(16, 15, 14, 0));
    $title-moddal-color: #fff;
    $color-ck-editor: invert(1);
    $color-duration-video: #fff;
    $border-card-video: #242424;
    $bg-landing: #242424;
    $border-landing: #383838;
    $landing-primary: #c09352;
    $text-landing-primary: #fff;
    $text-landing-secondary: #d4d4d4;
    $skeleton-loading-base: #242424;
    $skeleton-loading-highlight: #363636